<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.admin.admin.dao">

	<select id="loginCheck" resultType="String" parameterType="adminVO">
	
		select a_id from admin where a_id=#{ id } and a_pass=#{ pass }
	
	</select>
	

</mapper>