<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.Categorie.dao">

	<select id="selectCCat" resultType="String">
	select C_CATEGORY_ID
	from C_CATEGORY
	<!-- where P_CATEGORY_ID=#{P_CATEGORY_ID} --> 

	</select>
	
	<select id="selectPCat" resultType="String" >
	select P_CATEGORY_ID
	from C_CATEGORY
	group by P_CATEGORY_ID

	</select>

</mapper>