<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.Categorie.dao">

	<select id="selectCCat" resultType="CategoriesVO">
	select c.p_category_id,p.p_category_name,s.c_category_id,s.sub_name
	from c_category c, sub_category s, p_category p
	where c.c_category_id = s.c_category_id and p.p_category_id = c.p_category_id

	</select>
	
	<select id="selectPCat" resultType="CategoriesVO" >
	select p_category_id, p_category_name
	from p_category

	</select>

	<select id="selectCategory" parameterType="String" resultType="CategoriesDomain" >
   select c.c_category_id, LISTAGG(s.sub_name,',') WITHIN GROUP(ORDER BY c.c_category_id) AS sub_name
   from p_category p
   inner join c_category c
   on p.p_category_id = c.p_category_id
   inner join sub_category s
   on c.c_category_id = s.c_category_id
   where p.p_category_id = #{p_category_id}
   GROUP BY c.c_category_id

	</select>
	
	<select id="selectPCatAll" resultType="PCategoriesDomain" >
	select p_category_id, p_category_name, p_icon, p_update_date	
	
	from p_category

	</select>
	
	<select id="selectCCatAll" resultType="CCategoriesDomain" parameterType="String">
	select c.p_category_id,p.p_category_name,s.c_category_id,s.sub_name, s.c_update_date
	from c_category c, sub_category s, p_category p
	where c.c_category_id = s.c_category_id and p.p_category_id = c.p_category_id and p.p_category_id = #{p_category_id}

	</select>
	
	<insert id="enrollPcat" parameterType="PCategoriesDomain">

		insert into p_category(p_category_id, p_category_name, p_icon)
		values(#{p_category_id}, #{p_category_name}, 'p_icon')
	</insert>
	
	<insert id="enrollCcat" parameterType="CCategoriesDomain">
	{call
	declare
	begin
		insert into c_category(c_category_id, p_category_id)
		values(#{c_category_id}, #{p_category_id});

		insert into sub_category(c_category_id, sub_id, sub_name)
		values(#{c_category_id}, #{sub_id}, #{sub_id});
	end
	}
	</insert>

</mapper>