<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.admin.dashboard.dao">
	
	<select id="visitCount" resultType="userHistoryDomain">
		select * from daily_user_history_view
	</select>

	<select id="memberRegCount" resultType="memberRegCntDomain">
		select * from daily_member_reg_cnt_view
	</select>

	<select id="orderCount" resultType="orderCntDomain">
		select * from daily_order_count_view
	</select>

	<select id="questionCount" resultType="questionCntDomain">
		select * from daily_question_count_view
	</select>

	<select id="revenue" resultType="revenueDomain">
		select * from revenue_view
	</select>
	
	<select id="salesInquiry" resultType="int">
		 select nvl(sum(price), 0)
		 from ordering
		 where to_char(order_date,'yyyy-mm-dd') BETWEEN #{ stdate } AND #{ eddate }
	</select>
	
	<select id="salesVolume" resultType="int">
		 select nvl(count(*), 0)
		 from ordering
	     where to_char(order_date,'yyyy-mm-dd') BETWEEN #{ stdate } AND #{ eddate }
	</select>
	
	<select id="notice" resultType="noticeDomain">
		<![CDATA[
		select notice_num, notice_main, to_char(sign_date, 'yyyy-mm-dd') sign_date
		from (select * from announcement)
		where rownum <= 8 order by sign_date desc
		]]>
	</select>
	
	<insert id="writeNotice" parameterType="String">
	insert into announcement(notice_num, notice_main, sign_date, update_date)
	values( 'n'||pro3.NOTICE_NO.NEXTVAL, #{ notice }, sysdate, sysdate)
	</insert>

</mapper>