<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.admin.dao">
	
	<insert id="enroll" parameterType="ItemVO">

		insert into item(item_no, name, price, detail, main_img, sales, c_category_id)
		values(ITEM_NO.NEXTVAL, #{ name }, #{ price }, #{ detail }, 'img', #{ sales },
		 #{c_category_id})
	</insert>
	
<select id="selectItem" resultType="itemDomain" parameterType="boardVO">
select ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from ITEM
where ITEM_NO between #{StartNum} and #{endNum}
order by item_no
</select>
	
	
<select id="itemCnt" resultType="int" >
 select count(*) cnt
 from item
 </select>
<select id="categoryCnt" parameterType="String" resultType="int" >
select count(*) cnt
from item
where C_CATEGORY_ID =#{C_CATEGORY_ID}
 </select>
<select id="categoryFullCnt" parameterType="String" resultType="int" >
select count(*) cnt
from item
where C_CATEGORY_ID like '%' || #{c_category_id} || '%'
 </select>

<select id="CategoryFullItem" resultType="itemDomain" parameterType="boardVO">

  select  filter,ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from(select rownum filter, ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES,C_CATEGORY_ID
from ITEM
where C_CATEGORY_ID like '%'|| #{current_category} ||'%'
order by item_no)
where filter between #{StartNum} and #{endNum}

</select>
<select id="CategoryItem" resultType="itemDomain" parameterType="boardVO">

  select  filter,ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from(select rownum filter, ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES,C_CATEGORY_ID
from ITEM
where C_CATEGORY_ID = #{current_category} 
order by item_no)
where filter between #{StartNum} and #{endNum}

</select>
 
 
 
<select id="selectKeywordItem" resultType="itemDomain" parameterType="boardVO">

select  filter,ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from(select rownum filter, ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from ITEM
where  NAME like '%' || #{keyword} || '%'
order by item_no)
where filter between #{StartNum} and #{endNum}

</select>


 
<select id="keywordCnt" resultType="int" parameterType="boardVO">
 select count(*) cnt 
from ITEM
where  NAME like '%' || #{keyword} || '%'
 </select>
 
 
<select id="selectDetail" resultType="itemDomain" parameterType="int">
select ITEM_NO,name ,PRICE, DETAIL, MAIN_IMG, SALES, REG_DT
from item
where ITEM_NO=#{ITEM_NO}
 
 </select>
 
 <select id="selectUserItem" resultType="itemDomain" parameterType="boardVO">
select  filter,ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from(select rownum filter, ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from ITEM
where  C_CATEGORY_ID like '%' || #{keyword} || '%'
order by item_no)
where filter between #{StartNum} and #{endNum}
 </select>
  
 <select id="selectItemDetailCategory" resultType="itemDomain" parameterType="boardVO">
select  filter,ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from(select rownum filter, ITEM_NO, NAME, PRICE, DETAIL, MAIN_IMG, SALES
from ITEM
where  C_CATEGORY_ID = #{keyword}
order by item_no)
where filter between #{StartNum} and #{endNum}
 </select>
 
<select id="selectCategory" resultType="String" parameterType="int">
select C_CATEGORY_ID 
from ITEM
where item_no=#{item_no}
</select>

<select id="selectStartCate" resultType="int" parameterType="String">
select item_no
from(select item_no
from item
where C_CATEGORY_ID=#{cate}
order by item_no)
where rownum=1;
</select>

<select id="selectEndCate" resultType="int" parameterType="String">
select item_no
from(select item_no,C_CATEGORY_ID
from item
where C_CATEGORY_ID=#{cate}
order by item_no desc)
where rownum=1
</select>
<select id="relevantSelect" resultType="itemDomain" parameterType="int">
select item_no, name, price, main_img
from ITEM
where ITEM_NO=#{item_no}
</select>
</mapper>