<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.admin.dao">
	
	<select id="selectMember" resultType="MemberDomain" parameterType="MemberVO">
	select filter,MEMBER_ID,EMAIL,PW,NAME,NICKNAME,TEL,ADDR,ADDRESS,STATUS,REG_DT,MOD_DT,sum_price	
	from (select rownum filter, m.MEMBER_ID,m.EMAIL,m.PW,m.NAME,m.NICKNAME,m.TEL,m.ADDR,m.ADDRESS,m.STATUS,m.REG_DT,m.MOD_DT,s.sum_price
			from MEMBER m, sum_order s
			where m.member_id = s.member_id
			order by MEMBER_ID)
	where filter between #{StartNum} and #{endNum}


	</select>
	
	<select id="memberCnt" resultType="int" >
	 select count(*) cnt
	 from member
	 </select>
	 
	<select id="selectKeywordMember" resultType="MemberDomain" parameterType="MemberVO">

	select  filter,MEMBER_ID,EMAIL,PW,NAME,NICKNAME,TEL,ADDR,ADDRESS,STATUS,REG_DT,MOD_DT
	from(select rownum filter, MEMBER_ID,EMAIL,PW,NAME,NICKNAME,TEL,ADDR,ADDRESS,STATUS,REG_DT,MOD_DT
	from MEMBER
	where  MEMBER_ID like '%' || #{keyword} || '%'
	order by MEMBER_ID)
	where filter between #{StartNum} and #{endNum}

	</select> 
	
	
	<select id="keywordMCnt" resultType="int" parameterType="MemberVO">
	 select count(*) cnt 
	from MEMBER
	where  MEMBER_ID like '%' || #{keyword} || '%'
	 </select>
	
	<select id="selectMDetail" resultType="MemberDomain" parameterType="String" >
	select m.member_id,m.email,m.pw,m.name,m.nickname,m.tel,m.addr,m.address,m.status,m.reg_dt,m.mod_dt,s.sum_price
	from member m, sum_order s
	where m.member_id=#{member_id,jdbcType=VARCHAR} and m.member_id=s.member_id
 	</select>
 	
 	<update id="editStatus" parameterType="MemberDomain">
		update member
		set status=#{status}
		where member_id=#{member_id}
	</update>
	
	
 
</mapper>