<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.cust.mainpage.dao">

	<select id="recommend"	resultType="itemVO" >
		<![CDATA[
		SELECT  A.*
		FROM ( SELECT ROW_NUMBER() OVER(ORDER BY REG_DT DESC) RNUM,
								 ITEM_NO,
							 	 NAME,
								 PRICE,
								 DETAIL,
								 MAIN_IMG,
								 SALES,
								 REG_DT,
								 MOD_DT,
								 C_CATEGORY_ID
					 FROM ITEM ) A
		WHERE A.RNUM <= 8
		ORDER BY DBMS_RANDOM.VALUE
		]]>
	</select>
	
	<select id="lowestPrice" resultType="itemVO" >
		<![CDATA[
		SELECT  A.*
		FROM ( SELECT ROW_NUMBER() OVER(ORDER BY PRICE) RNUM,
								 ITEM_NO,
							 	 NAME,
								 PRICE,
								 DETAIL,
								 MAIN_IMG,
								 SALES,
								 REG_DT,
								 MOD_DT,
								 C_CATEGORY_ID
					 FROM ITEM ) A
		WHERE A.RNUM <= 8
		]]>
	</select>
	
	<select id="hotItem" resultType="itemVO" >
		<![CDATA[
			SELECT A.*
			FROM
			(SELECT
			 ORD.ITEM_NO,I.NAME, I.PRICE, I.MAIN_IMG,
			 SUM(ORD.QUANTITY) AS SUM_QUANTITY
			 FROM ORDERITEM ORD, ITEM I
			 WHERE ORD.ITEM_NO=I.ITEM_NO
		     GROUP BY ORD.ITEM_NO, I.NAME, I.PRICE, I.MAIN_IMG
			 ORDER BY SUM_QUANTITY DESC
			)A
			WHERE ROWNUM <=8
		]]>
	</select>
	
	<select id="selectP" resultType="CategoriesDomain" >
		<![CDATA[

			select p_category_id,p_category_name from P_CATEGORY

		]]>
	</select>
	
	<select id="selectC" resultType="CategoriesDomain" >
		<![CDATA[

		   select c.c_category_id, p.p_category_name, LISTAGG(s.sub_name,',') WITHIN GROUP(ORDER BY c.c_category_id) AS sub_name
		   from p_category p
		   inner join c_category c
		   on p.p_category_id = c.p_category_id
		   inner join sub_category s
		   on c.c_category_id = s.c_category_id
		   GROUP BY c.c_category_id, p.p_category_name

		]]>
	</select>
	
	
	
	

</mapper>