<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.cust.member.dao">

	<select id="loginCheck"	resultType="memberDomain" parameterType="MemberVO">
		select member_id, pw, nickname, name, email, tel, status, addr, address
		from member
		where member_id=#{ id }
	</select>
	
	<insert id="addUserHistory" parameterType="String">
		insert into user_history(member_id, login_date)
		values(#{ id }, sysdate)
	</insert>
	
	<select id="findID" resultType="memberDomain" parameterType="MemberVO">
		select member_id, status
		from member
		where name=#{ name } and email=#{ email }
	</select>

	<select id="findPW" resultType="memberDomain" parameterType="MemberVO">
		select member_id, status
		from member
		where member_id=#{ id } and email=#{ email } and tel=#{ tel }
	</select>
	
	<update id="modifyPW" parameterType="MemberVO">
		update member
		set pw=#{ pw }
		where member_id=#{ id }
	</update>
	
	<update id="resignMember" parameterType="String">
		update member
		set status='탈퇴'
		where member_id=#{ id }
	</update>
	
	<insert id="register" parameterType="MemberVO">
		insert into member(member_id, email, pw, name, nickname, tel, addr, address, reg_dt, mod_dt)
		values(#{id}, #{ email }, #{ pw }, #{ name }, #{ nickname }, #{ tel }, #{ addr }, #{ address }, sysdate, sysdate)
	</insert>

	<select id="idCheck" resultType="String" parameterType="String">
		select member_id
		from member
		where member_id=#{ id }
	</select>

	<update id="modifyMember" parameterType="MemberVO">
		update member
		<set>
			<if test="email != null and email !=''">
				email=#{email},
			</if>
			<if test="pw != null and pw !=''">
				pw=#{pw},
			</if>
			<if test="nickname != null and nickname !=''">
				nickname=#{nickname},
			</if>
			<if test="tel != null and tel !=''">
				tel=#{tel},
			</if>
			<if test="addr != null and addr !=''">
				addr=#{addr},
			</if>
			<if test="address != null and address !=''">
				address=#{address}
			</if>
		</set>
		where member_id=#{ id }

	</update>


</mapper>