<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.cust.mypage.dao">

	<select id="loginCheck"	resultType="kr.co.rocketkurly.cust.domain.MemberDomain" parameterType="MemberVO">
		select member_id, pw, nickname, name, email, tel, addr, address
		from member
		where member_id=#{ id }
	</select>
	
	<update id="resignMember" parameterType="String">
		update member
		set status='탈퇴'
		where member_id=#{ id }
	</update>

	<update id="modifyMember" parameterType="MemberVO">
		update member
		<set>
			<if test="email != null and email !=''">
				email=#{email},
			</if>
			<if test="pw != null and pw !=''">
				pw=#{pw},
			</if>
			<if test="nickname != null and nickname !=''">
				nickname=#{nickname},
			</if>
			<if test="tel != null and tel !=''">
				tel=#{tel},
			</if>
			<if test="addr != null and addr !=''">
				addr=#{addr},
			</if>
			<if test="address != null and address !=''">
				address=#{address}
			</if>
		</set>
		where member_id=#{ id }

	</update>
	
	<select id="inquiry" resultType="questionDomain" parameterType="String">
		select * from question where member_id = #{ id }
	</select>	
	
	<select id="coupon" resultType="couponDomain" parameterType="String">
		select * from cupon where member_id = #{ id }	
	</select>

</mapper>