<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rocketkurly.cust.mypage.dao">

	<select id="loginCheck"	resultType="kr.co.rocketkurly.cust.domain.MemberDomain" parameterType="MemberVO">
		select member_id, pw, nickname, name, email, tel, addr, address
		from member
		where member_id=#{ id }
	</select>
	
	<update id="resignMember" parameterType="String">
		update member
		set status='탈퇴'
		where member_id=#{ id }
	</update>

	<update id="modifyMember" parameterType="MemberVO">
		update member
		<set>
			<if test="email != null and email !=''">
				email=#{email},
			</if>
			<if test="pw != null and pw !=''">
				pw=#{pw},
			</if>
			<if test="nickname != null and nickname !=''">
				nickname=#{nickname},
			</if>
			<if test="tel != null and tel !=''">
				tel=#{tel},
			</if>
			<if test="addr != null and addr !=''">
				addr=#{addr},
			</if>
			<if test="address != null and address !=''">
				address=#{address}
			</if>
		</set>
		where member_id=#{ id }

	</update>
	
	<select id="inquiry" resultType="questionDomain" parameterType="boardVO">
	select question_no, member_id, order_no, title, type, contents, answer, reg_dt
	from(select rownum ro,QUESTION_NO, MEMBER_ID, ORDER_NO, TITLE, TYPE, CONTENTS, ANSWER, REG_DT
	from question where member_id = #{member_id})
	where ro between #{StartNum} and #{endNum}
	</select>
		
	<select id="myInquiry" resultType="questionDomain" parameterType="int">
		select * from question where question_no = #{ question_no }
	</select>	
	
	<select id="coupon" resultType="couponDomain" parameterType="String">
		select * from cupon where member_id = #{ id }	
	</select>
	<select id="couponBoard" resultType="couponDomain" parameterType="String">
	  select coupon_no, member_id, coupon_name, p_date, e_date, discount
	 from(select rownum ro,COUPON_NO, MEMBER_ID, COUPON_NAME, P_DATE, E_DATE, DISCOUNT 
	 from cupon where member_id = #{member_id})
	 where ro between #{StartNum} and #{endNum}
	</select>
	
	<select id="inquiryTotal" resultType="int" parameterType="String">
		select count(*)question_total from question where member_id = #{ id }
	</select>
	
	<select id="couponTotal" resultType="int" parameterType="String">
		select count(*)cunpon_total from cupon where member_id = #{ id }
	</select>
	
	<insert id="write_inquiry" parameterType="QuestionVO">
		insert into question(question_no, member_id, title, type, contents)
		values(question_NO.NEXTVAL, #{ member_id }, #{ title }, #{ type }, #{contents})
	</insert>
	
	
	<select id="wishConfirm" resultType="int" parameterType="WishVO">
		 select count(item_no) cnt
		 from WISHITEM
		 where MEMBER_ID=#{member_id} and item_no=#{item_no}
	</select>

	<insert id="insertWish" parameterType="WishVO">
		insert into WISHITEM(WISH_NO, ITEM_NO, MEMBER_ID)
		values(PRO3.WISH_NO.NEXTVAL,#{item_no},#{member_id})
	</insert>
	
	<delete id="deleteWish" parameterType="WishVO">
		delete from WISHITEM
		where ITEM_NO=#{item_no} and member_id=#{member_id}
	</delete>
	
	<select id="wishCnt" resultType="int" >
	 select count(*) cnt
	 from WISHITEM
	 </select>
	 
	<select id="selectWish" resultType="WishDomain" parameterType="boardVO">
	select item_no, member_id ,price,name,main_img
	from(select rownum filter , w.ITEM_NO, w.MEMBER_ID,i.PRICE,i.NAME,i.MAIN_IMG
	from WISHITEM w , ITEM i
	where (w.ITEM_NO = i.item_no) and MEMBER_ID=#{member_id}
	order by WISH_DATE)
	where filter between #{StartNum} and #{endNum}
	
	 </select>
	 
	 <select id="orderHistory" resultType="orderhistoryVO" parameterType="boardVO">
	 
	 	
	 	select member_id, order_no, order_date, price, order_state, item_no, review_state, itemname, quantity
	 	from(SELECT rownum ro,MEMBER_ID, ORDER_NO, ORDER_DATE, PRICE, ORDER_STATE, ITEM_NO, REVIEW_STATE, ITEMNAME, QUANTITY
	 	FROM ORDERHISTORY_VIEW
	 	WHERE MEMBER_ID = #{member_id}
	 	ORDER BY ORDER_DATE DESC)
		where ro between #{StartNum} and #{endNum}
	 
	 </select>
	 
	 <insert id="writeReview" parameterType="reviewVO">
		insert into review(REVIEW_NO,title,contents,IMAGE,read_cnt,item_no,member_id)
		values(PRO3.REVIEW_NO.NEXTVAL,#{title},#{contents},'image','0',#{item_no},#{member_id})
	</insert>
	
	<update id="updateReviewState"  parameterType="reviewVO">
		update orderhistory_view
		set review_state='y'
		where member_id=#{member_id} and order_no = #{order_no} and item_no=#{item_no}
		
	</update>
	
	<select id="myReview" resultType="reviewVO" parameterType="boardVO">
	 
	 	select title, name, reg_dt, item_no
		from(select rownum ro,r.title, i.name, r.reg_dt, r.item_no
		from review r, item i
		where r.item_no = i.item_no and r.member_id=#{member_id})
    	where ro between #{StartNum} and #{endNum}
		
	 </select>
	<select id="selectOrderCnt" resultType="int" parameterType="String">
	 
	 	SELECT count(*) cnt
	 	FROM ORDERHISTORY_VIEW
	 	WHERE MEMBER_ID = #{id}
		
	 </select>
	<select id="selectReviewCnt" resultType="int" parameterType="String">
	 
	 	SELECT count(*) cnt
	 	FROM review
	 	WHERE MEMBER_ID = #{id}
		
	 </select>
	<select id="selectInquiryCnt" resultType="int" parameterType="String">
	 
	 	SELECT count(*) cnt
	 	FROM question
	 	WHERE MEMBER_ID = #{id}
		
	 </select>
	<select id="selectCouponCnt" resultType="int" parameterType="String">
	 
	 	SELECT count(*) cnt
	 	FROM cupon
	 	WHERE MEMBER_ID = #{id}
		
	 </select>
	
	
	
</mapper>